<div class="news-container" data-id="id">
    <div class="titleandtag">
        <div class="title" data-content="newsTitle"></div>
        <div class="news-tag-box" data-content="tags"></div>
    </div>
    <div class="news-photo-wrap"></div>
    <div class="news-text-window" data-content="content"></div>


    <div class="options">

        <img class="options-icon like" src="img/like.png"/>
        <img class="options-icon report" src="img/report.png"/>

        <div class="nLikes" data-content="nlikes"></div>
    </div>
</div>
