<div class="news-container">
    <div class="news-photo-wrap" data-content="newsImage"></div>
    <div class="news-body-wrap">
        <div class="news-tag-box">
			<div data-content="tags"></div>
			<img class="news-expand-button" src="img/plus.png" alt="expand button">
		</div>
        <div class="news-text-window">
            <div class="news-text-wrapper">
                <a class="title" data-content="newsTitle"></a>
                <p data-content="brief"></p>
            </div>
        </div>
        <div class="gradientDiv" ></div>
        <div class="options">
            <img class="options-icon like" src="img/like.png" />
            <img class="options-icon report" src="img/report.png" />
            <div class="nLikes" data-content="nlikes"></div>
        </div>
    </div>
</div>