<a id="logo" href="smarttv.html"><img src="img/logo_cor.png" alt="logo"></a>
<div id="sidebar">
    <div class="hover-avoiding-wrap">
        <div class="submenu sidebar-item-group">
            <div class="hover-avoiding-wrap">
                <div class="menu-box">
                    <div class="menu-box-title">Create Tag</div>
                    <input id="c-tag-name" class="input-field" type="text" placeholder="Name" name="Channel name field">
                    <textarea id="c-tag-brief" class="tag-brief-field" placeholder="Brief: (Max. 140 characters)" maxlength="140" name="brief field"></textarea>
                    <input id="c-tag-tags" class="multi-tags-autocomplete input-field fixed" type="text" placeholder="Parents" name="tag field">
                    <input id="c-tag-img" class="input-field" type="url" placeholder="URL: www.example.com/example.jpg" name="picture url">
                    <div class="auth-wrap-box">
                        <img src="img/like.png">
                        <div>Is Authenticated</div>
                    </div>
                    <a id="c-tag-submit" class="button">Submit</a>
                </div>
                <div class="sidebar-item submenu-item first-item">Create Tag</div>
            </div>
            <div class="hover-avoiding-wrap">
                <div class="menu-box">
                    <div class="menu-box-title">Edit Tag</div>
                    <input id="e-tag-name" class="single-tag-autocomplete input-field fixed" type="text" placeholder="Name" name="Channel name field">
                    <textarea id="e-tag-brief" class="tag-brief-field" placeholder="Brief: (Max. 140 characters)" maxlength="140" name="brief field"></textarea>
                    <input id="e-tag-img" class="input-field" type="url" placeholder="URL: www.example.com/example.jpg" name="picture url">
                    <div class="auth-wrap-box">
                        <img src="img/like.png">
                        <div>Is Authenticated</div>
                    </div>
                    <a id="e-tag-submit" class="button">Submit</a>
                </div>
                <div class="sidebar-item submenu-item">Edit Tag</div>
            </div>
            <div class="hover-avoiding-wrap">
                <div class="menu-box">
                    <div class="menu-box-title">Edit Authenticated Tag</div>
                    <input class="input-field" type="text" placeholder="Name" name="Channel name field">
                    <a class="button">Edit</a>
                </div>
                <div class="sidebar-item submenu-item">Edit Authenticated Tag</div>
            </div>
        </div>
        <div id="management" class="sidebar-item built-in">
            Management
        </div>
    </div>
    <div id="sidebar-smart-news" class="sidebar-item built-in sidebar-channel">Smart News</div>
    <div id="sidebar-channels" class="sidebar-item-group">
    </div>
    <div class="hover-avoiding-wrap">
        <div class="menu-box">
            <div class="menu-box-title">Create Channel</div>
            <input id="c-channel-name" class="input-field" type="text" placeholder="Name" name="Channel name field">
            <input id="c-channel-tags" class="multi-tags-autocomplete input-field fixed" type="text" placeholder="Parents" name="tags field" size="5">
            <a id="submit-channel" class="button">Submit</a>
        </div>
        <div id="create-channel" class="sidebar-item built-in"
                >Create Channel
        </div>
    </div>
</div>